bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.void-market-asp/.idea/
/microservices docker composes/postgres/order_pg_data/
/microservices docker composes/rabbitmq/rabbitmq_data/
/void-market-asp.sln.DotSettings.user
